@use 'sass:map';

$breakpoints: (
  mobile: 768px,
  tablet: 1024px,
  desktop: 1200px
);

@mixin respond($device) {
  $breakpoint: map.get($breakpoints, $device);
  
  @if $breakpoint {
    @media (max-width: $breakpoint) {
      @content;
    }
  } @else {
    @error "Invalid breakpoint: #{$device}";
  }
}
