$color-primary: #B92770;
$color-secondary: #ff3ec8;
$color-dark: #111111;
$color-light: #ffffff;
$color-muted: #504E4A;

$font-size-xxs: 10px;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-base: 17px;
$font-size-md: 19px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-2xl: 32px;
$font-size-3xl: 40px;
$font-size-4xl: 50px;
$font-size-5xl: 56px;


$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-bolder: 900;

$space-xxs: 4px;
$space-xs: 8px;
$space-sm: 16px;
$space-md: 24px;
$space-m: 30px;
$space-lg: 40px;
$space-xl: 60px;
$space-2xl: 80px;
$space-3xl: 119px;
$space-4xl: 140px;


$lh-tight: 1.2; 
$lh-normal: 1.5; 
$lh-relaxed: 1.7;

$border-light: #E9E9ED;
